
body, textarea, input {
    background: 0;
    border-radius: 0;
    font: 16px sans-serif;
    margin: 0
}

.smooth {
    transition: all .2s
}

.btn, .nav a {
    text-decoration: none
}

* {
    outline: 0
}

.container {
    margin: 0 20px;
    width: auto
}

@media (min-width: 1310px) {
    .container {
        margin: auto;
        width: 1270px
    }
}

label > * {
    display: inline
}

form > * {
    display: block;
    margin-bottom: 10px
}

h1 {
    font-size: 4em
}

h2, .btn {
    font-size: 2em
}

.btn {
    background: #999;
    border-radius: 6px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: .2em .3em .2em 0;
    padding: 12px 30px 14px
}

.btn:hover {
    background: #888
}

.btn:active, .btn:focus {
    background: #777
}

.btn-a {
    background: #0ae
}

.btn-a:hover {
    background: #09d
}

.btn-a:active, .btn-a:focus {
    background: #08b
}

.btn-b {
    background: #3c5
}

.btn-b:hover {
    background: #2b4
}

.btn-b:active, .btn-b:focus {
    background: #2a4
}

.btn-c {
    background: #d33
}

.btn-c:hover {
    background: #c22
}

.btn-c:active, .btn-c:focus {
    background: #b22
}

.btn-sm {
    border-radius: 4px;
    padding: 9px 15px 8px;
}

textarea, input, .addon, .btn-sm, .nav a {
    font-size: 14px
}

textarea, input {
    border: 1px solid #ccc;
    padding: 8px
}

textarea:focus, input:focus {
    border-color: #5ab
}

textarea, input[type='text'] {
    -webkit-appearance: none;
    width: 26em;
}

.addon {
    box-shadow: 0 0 0 1px #ccc;
    padding: 8px 12px
}

.row {
    margin: 1% 0;
    overflow: auto
}

.col {
    float: left
}

.c12, .table {
    width: 100%
}

.c11 {
    width: 91.66%
}

.c10 {
    width: 83.33%
}

.c9 {
    width: 75%
}

.c8 {
    width: 66.66%
}

.c7 {
    width: 58.33%
}

.c6 {
    width: 50%
}

.c5 {
    width: 41.66%
}

.c4 {
    width: 33.33%
}

.c3 {
    width: 25%
}

.c2 {
    width: 16.66%
}

.c1 {
    width: 8.33%
}

@media (max-width: 870px) {
    .row .col {
        width: 100%
    }
}

body {
    font-family: "PT Sans", sans-serif;
}

pre, code {
    font-family: "Fira Mono", monospace;
}

.container {
    max-width: 700px;
    margin: 0 auto 0 auto;
}

a {
    color: #800;
    cursor: pointer; 
}

.btn-sm {
    margin: 0;
}

.deselected {
    background: #999999;
}

