<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="fragment" content="!" />
  <title>angular-selection demo</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans|Fira+Mono' rel='stylesheet'
        type='text/css'>
  <link rel="stylesheet" type="text/css"
        href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css"/>
  <link rel="stylesheet" href="css/demo.css" type="text/css"/>
  <link rel="stylesheet" href="css/collapse.css" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
  <script src="../selection.js"></script>
  <script src="demo.js"></script>
</head>
<body data-ng-app="demo">
<a href="https://github.com/boneskull/angular-selection"><img
  style="position: absolute; top: 0; left: 0; border: 0;"
  src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67"
  alt="Fork me on GitHub"
  data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>

<div class="container" ng-controller="MainCtrl">
  <div>
    <h1>angular-selection</h1>
  </div>

  <p>This is a demo for <a
    href="https://github.com/boneskull/angular-selection">angular-selection</a>, a module for <a
    href="http://angularjs.org">AngularJS</a>.</p>

  <p>It currently provides a directive, <code>autoSelect</code>, which will cause text to be
    automatically selected, with several options.</p>

  <div ng-repeat="example in examples">
    <h2 id="{{example.id}}"><a ng-click="select(example.id)"><i class="icon-right-dir" ng-hide="selected === example.id"></i><i class="icon-down-dir" ng-show="selected === example.id"></i> {{example.title}}</a>
    </h2>

    <p><ng-include src="example.id + '-description'"></ng-include></p>

    <div ng-if="selected === example.id">

      <h3>Example</h3>

      <div class="row" ng-controller="ExampleCtrl">
        <div class="col c8"><ng-include src="example.id + '-template'"></ng-include></div>
        <div class="col c2">
          <button ng-click="reverse()" class="btn btn-sm">Reverse</button>
        </div>
        <div class="col c2">
          <button ng-click="reset()" class="btn btn-sm">Reset</button>
        </div>
      </div>

      <h3>Code</h3>

      <span ng-show="example.js">JS: </span><pre highlight="example.js"><code class="js"></code></pre>
      
      <span>HTML: </span><pre highlight="example.template"><code class="html"></code></pre>
      
      
    </div>
  </div>
  
  <h2><a target="_blank" href="https://github.com/boneskull/angular-selection">More Information @ GitHub<i class="icon-right-dir"></i></a></h2>
  
  <small style="float: right; padding-bottom: 20px;">&copy; 2014 Christopher Hiller.  Licensed MIT.</small>
</div>
</body>
</html>
